@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --lightgrey: hsl(0, 0%, 90%);
  --darkblue: hsl(216, 97%, 15%);
  --turquoise: hsl(186, 97%, 29%);
  --slushyorange: #f6dcac;
  --orange: #feae6f;
  --whitetext: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  position: relative;

  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-book-btn {
  margin-bottom: 2rem;
  padding: 0.8rem 1.6rem;
  border: 2px solid var(--darkblue);
  border-radius: 5px;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 600;
  background: var(--turquoise);
  color: var(--whitetext);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.add-book-btn:hover {
  background: var(--darkblue);
}

table {
  border-spacing: 0;
  color: var(--turquoise);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 0 auto;
  width: 600px;
}

table th {
  border: 2px solid hsl(216, 97%, 15%);
  border-right: 0;
  padding: 1.2rem 1.8rem;
}

table td {
  border: 2px solid hsl(216, 97%, 15%);
  border-top: 0;
  border-right: 0;
  padding: 0.6rem 1.2rem;
  text-align: center;
}

table th:last-child,
.actions {
  border-right: 2px solid hsl(216, 97%, 15%);
}

table th:nth-child(even),
table td:nth-child(even) {
  background-color: var(--orange);
}
table th:nth-child(odd),
table td:nth-child(odd) {
  background-color: var(--slushyorange);
}

.actions {
  display: flex;
  gap: 0.4rem;
}

.actions button {
  font-family: inherit;
  font-size: inherit;
  color: var(--whitetext);
  padding: 0.75rem 1.2rem;
  background-color: var(--turquoise);
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.modal {
  display: none;
}

.modal.show {
  display: block;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.modal-content {
  background: var(--slushyorange);
  color: var(--turquoise);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 320px;
  border-radius: 5px;
  border: 2px solid var(--darkblue);

  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 70%;
}

.form-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.4rem;
}

.form-row:nth-child(4) {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0.6rem;
}

.form-row:last-child {
  flex-direction: row;
  justify-content: center;
}

.form-row input {
  padding: 0.2rem 0.4rem;
  font-size: inherit;
  font-family: inherit;
}

.form-row input[type="radio"] {
  height: 1.2rem;
  width: 1.2rem;
  cursor: pointer;
}

.form-row div {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.add {
  width: 100%;
  padding: 0.4rem 1rem;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  background-color: var(--turquoise);
  border: none;
  color: #fff;
}

.add:hover {
  background: var(--darkblue);
}
