.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  z-index: 1;
}

.modal-content {
  background-color: #fefefe;
  margin: 25% auto;
  width: 300px;
  height: 300px;
  z-index: 2;
  background-color: #fff;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid black;

  display: flex;
  justify-content: center;
  align-items: center;
}
